<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Page Title</title>
<meta name="description" content="Roughly 155 characters">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>

    <h1 class = "presenter-dash-text;">Welcome to the presenter dashboard.</h1>

    <form action="/humandash" method="post">
        <input type="submit" value="Human Dashboard"/>
    </form>

    <form action="/turingdisplay" method="post">
        <input type="submit" value="Big Screen Display for Turing's Chat"/>
    </form>

    <form action="/trainingdata" method="post">
        <input type="submit" value="Training Data Demonstration"/>
    </form>
    

</body>

</html>